<h1>Login</h1>

<% if flash[:errors] %>
  <ul>
    <%flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<%end%>

<form action="<%= session_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="user_name">Username</label>
  <input name="session[user_name]"
         type="text"
         id="user_name"
         value="<%= @user.user_name %>">

  </br>

  <label for="password">Password</label>
  <input name="session[password]"
         type="password"
         id="password"
         value="<%= @user.password %>">

  </br>
  <input type="submit" value="Log me in!">
</form>
